@import 'variables';
@import 'mixin';

body {
    background-color: $blue;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    position: relative;

    .container {
        width: 100vw;
        overflow-x: hidden;

        & .slide {

            display: none;
            @include position($top: 0vh, $left: -15vw);
            height: 200vh;
            width: 200vw;
            border-radius: 0%;
            transform: scale(1);
            overflow-x: hidden;

            &.one {
                background-color: rgb(41, 22, 163);
                z-index: 3;
            }

            &.two {
                background-color: rgb(184, 6, 6);
                z-index: 2;
            }

            &.three {
                background-color: $yellow;
                z-index: 1;
            }


            .b {
                @include position($top: 10px, $left: 10px)
            }
        }
    }
}