@import 'variables';

.listStyle {
    text-align: center;
    
& .spanHead {
    color: $white;
    margin: 10px 30px 10px 30px;
    @media (min-width: 1439px) {
        font-size: 3.2rem;
       
       }
}
& .vegetables {
    padding: 0 1% 0 1%;
& .newVegetables {
    list-style-type: none;  
  
& .listvVegetables {
 
    display: block;
    margin: 30px;
    font-size: 1.2rem;
    color: $white;
    @media (min-width: 1439px) {
        font-size: 2.5rem;
       
       }
}
}
}
}